.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-container {
  margin: 0 auto;
  width: 400px;
}

.cta {
  margin-top: 20px;
  width: 40vh;
  height: 10vh;
  font-size: 2em;
  background-color: #4BB543;
  color: white;
  border-radius: 10px;
}

.homepage-intro{
  line-height: 48px;
}

.homepage-intro p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage-intro h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}